*,
*::before,
*::after {
  box-sizing: border-box;
  letter-spacing: -0.01px;
}

html {
  scroll-behavior: smooth;
}


@layer components {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }


  /* Ripple */
  span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.094);
    pointer-events: none;
  }

  *,
  ::before,
  ::after {
    @apply border-border;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    @apply font-bold text-foreground;
  }

  h5,
  .h5,
  h6,
  .h6 {
    @apply font-sans text-foreground;
  }

  h1,
  .h1 {
    @apply text-3xl;
    line-height: 1.3em;
  }

  h2,
  .h2 {
    @apply text-2xl;
    line-height: 1.3em;
  }

  h3,
  .h3 {
    @apply text-xl;
    line-height: 1.25em;
  }

  h4,
  .h4 {
    @apply text-lg;
  }

  h5,
  .h5 {
    @apply font-semibold;
  }

  h6,
  .h6 {
    @apply font-medium;
  }

  small {
    @apply text-sm;
  }

  :root {
    scroll-behavior: smooth;
  }

  .dropdown .tooltip-content {
    padding: 0 !important;
  }

  .basic-tooltip .tooltip-content {
    padding: 0.3em 0.7em !important;
    font-size: 0.8em
  }
}


@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

#icon-picker {
  --iconPicker-text: var(--foreground);
  --iconPicker-border: var(--border);
  --iconPicker-primary: var(--primary);
  --iconPicker-primary-fg: var(--primary-foreground);
  --iconPicker-primary-hover: var(--primary);
  /* Approximation */
  --iconPicker-radius: var(--radius);
  --iconPicker-gap: 0.25em;
  --iconPicker-input-height: 2.125em;
  --iconPicker-selected-bg: var(--accent);
  --iconPicker-font-base: 15.5px;
  --iconPicker-transition: all 0.2s ease;
}