input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Hide the stepper controls */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: theme('colors.gray.900');
  -webkit-box-shadow: 0 0 0px 1000px theme('colors.body') inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 0;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

textarea {
  scrollbar-width: thin !important;
}

textarea::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

textarea::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  border: 1px solid transparent !important;
  background-clip: padding-box !important;
}