@layer components {
  @theme {

    --color-mixture-1: #ffffff;
    --color-mixture-2: #000000;

    --color-gray-150: '';
    --color-gray-250: '';
    --color-body: '';
    --color-background: '';
    --color-foreground: '';
    --color-border: '';
    --color-input: '';
    --color-card: '';
    --color-secondary: '';
    --color-secondary-foreground: '';
    --color-muted: '';
    --color-muted-light: '';
    --color-muted-foreground: '';
    --color-accent: '';
    --color-accent-foreground: '';


    --color-destructive: #ef4444;
    --color-destructive-foreground: #fafafa;

    /* Legacy Primary Variants */

    --color-primary-dark: #000;
    --color-primary: #18181b;
    --color-primary-foreground: #fafafa;
    --color-primary-fg: #fafafa;
    --color-primary-fg-light: var(--color-primary-dark);
    --color-primary-light: color-mix(in oklab,
        var(--color-primary-fg, #ffffff) 95%,
        var(--color-primary, #000000));

    /* Danger */
    --color-danger-light: #fff2f2;
    --color-danger: #ff3b30;
    --color-danger-dark: #d70015;
    --color-danger-fg: #ffffff;
    --color-danger-fg-light: #d70015;

    /* Warning */
    --color-warning-light: #FFF5EB;
    --color-warning: #ff9500;
    --color-warning-dark: #c95100;
    --color-warning-fg: #ffffff;
    --color-warning-fg-light: #c95100;

    /* Info */
    --color-info-light: #f0f8ff;
    --color-info: #007aff;
    --color-info-dark: #0051a8;
    --color-info-fg: #ffffff;
    --color-info-fg-light: #0051a8;

    /* Success */
    --color-success-light: #EEFBEF;
    --color-success: #007E51;
    --color-success-dark: #248a3d;
    --color-success-fg: #ffffff;
    --color-success-fg-light: #248a3d;

    /* Radius */
    --radius: 0.5rem;
    --radius-sm: calc(0.5rem - 2px);
    --radius-md: 0.5rem;
    --radius-lg: calc(0.5rem + 2px);
    --radius-xl: calc(0.5rem + 4px);

    /* Animations */
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;
    --animate-ripple: ripple 600ms linear;

    --text--fs-1: 0.95em;
    --text--fs-2: 0.8em;
    --text--fs-3: 0.75em;
    --text--fs-4: 0.7em;
    --text--fs-5: 0.65em;
    --text--fs-6: 0.6em;
    --text--fs-7: 0.55em;
    --text--fs-8: 0.5em;
    --text-fs-0.5: 1em;
    --text-fs-1: 1.03030303em;
    --text-fs-1.5: 1.06060606em;
    --text-fs-2: 1.1030303em;
    --text-fs-2.5: 1.13333333em;
    --text-fs-3: 1.16363636em;
    --text-fs-3.5: 1.19393939em;
    --text-fs-4: 1.2242424242424241em;
    --text-fs-4.5: 1.31515152em;
    --text-fs-5: 1.39393939em;
    --text-fs-5.5: 1.48484848em;
    --text-fs-6: 1.57575758em;
    --text-fs-6.5: 1.63636364em;
    --text-fs-7: 1.6969697em;
    --text-fs-7.5: 1.75757576em;
    --text-fs-8: 1.81818182em;
    --text-fs-8.5: 1.87878788em;
    --text-fs-9: 1.93939394em;
    --text-fs-9.5: 2em;
    --text-fs-10: 2.06060606em;
  }
}


:root {
  --tooltip-radius: var(--radius) !important;
  --tooltip-shadow: var(--shadow-DEFAULT) !important;
  --tooltip-arrow-size: 0.5em !important;
  --tooltip-z-index: 50;
  --tooltip-font-size: unset !important;


  --shadow-sm: rgba(95, 97, 100, 0.07) 0px 15px 90px 0px, rgba(0, 0, 0, 0.02) 0.2px 0.2px 1px 0px;
  --shadow-DEFAULT: rgba(55, 59, 74, 0.074) 0px 10px 55px 3px;
  --shadow-md: var(--shadow-DEFAULT);
  --shadow-lg: rgba(100, 100, 111, 0.15) 0px 7px 40px -1px;
  --shadow-xl: rgba(0, 0, 0, 0.2) 0px 15px 50px -12px;
}

.dark .modal-body,
.dark .sidepanel-body,
.dark .tooltip-container,
.bg-card,
.theme-section,
.light,
:root {

  --color-white: #ffffff;

  --color-black: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 0%,
      var(--color-mixture-2, #000000));

  --color-gray-50: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 98.5%,
      var(--color-mixture-2, #000000));

  --color-gray-100: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 97%,
      var(--color-mixture-2, #000000));

  --color-gray-150: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 96%,
      var(--color-mixture-2, #000000));

  --color-gray-200: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 94.5%,
      var(--color-mixture-2, #000000));

  --color-gray-250: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 92%,
      var(--color-mixture-2, #000000));

  --color-gray-300: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 74%,
      var(--color-mixture-2, #000000));

  --color-gray-400: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 62%,
      var(--color-mixture-2, #000000));

  --color-gray-500: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 50%,
      var(--color-mixture-2, #000000));

  --color-gray-600: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 38%,
      var(--color-mixture-2, #000000));

  --color-gray-700: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 26%,
      var(--color-mixture-2, #000000));

  --color-gray-800: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 16%,
      var(--color-mixture-2, #000000));

  --color-gray-850: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 10%,
      var(--color-mixture-2, #000000));

  --color-gray-900: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 5%,
      var(--color-mixture-2, #000000));

  --color-gray-950: var(--color-mixture-2, #000000);

  --color-body: var(--color-white);
  --color-background: var(--color-body);
  --color-foreground: var(--color-gray-900);

  --color-border: color-mix(in oklab, var(--color-mixture-1) 92%, var(--color-mixture-2));
  --color-input: color-mix(in oklab, var(--color-mixture-1) 90%, var(--color-mixture-2));


  --color-secondary: color-mix(in oklab, var(--color-mixture-1) 94.8%, var(--color-mixture-2));
  --color-secondary-foreground: var(--color-foreground);

  --color-muted-light: var(--color-gray-50);
  --color-muted: var(--color-gray-100);
  --color-muted-foreground: var(--color-foreground);

  --color-accent: var(--color-gray-150);
  --color-accent-foreground: var(--color-foreground);

  --tooltip-bg: var(--color-background) !important;
  --tooltip-text: var(--color-foreground) !important;
  --tooltip-border: color-mix(in oklab, var(--color-mixture-1) 93%, var(--color-mixture-2)) !important;
  --date-picker-border: var(--color-border) !important;
  --iconPicker-border: var(--color-border) !important;

  --timer-picker-bg: var(--color-background) !important;
  --date-picker-border: var(--color-border) !important;
  --date-picker-radius: var(--radius) !important;
}

.light {
  --color-white: #ffffff !important;
  --color-mixture-1: #ffffff !important;
  --color-mixture-2: #0c0c0c !important;
  background-color: var(--color-white);
}

.dark {
  --color-white: #0b0b0b !important;
  --color-mixture-1: #0c0c0c !important;
  --color-mixture-2: #ffffff !important;

  --color-gray-50: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 95%,
      var(--color-mixture-2, #000000));

  --color-gray-100: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 93%,
      var(--color-mixture-2, #000000));

  --color-gray-150: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 90%,
      var(--color-mixture-2, #000000));

  --color-gray-200: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 88%,
      var(--color-mixture-2, #000000));

  --color-gray-250: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 82%,
      var(--color-mixture-2, #000000));

  --color-gray-300: color-mix(in oklab,
      var(--color-mixture-1, #ffffff) 74%,
      var(--color-mixture-2, #000000));

  --color-secondary: color-mix(in oklab, var(--color-mixture-1) 89%, var(--color-mixture-2));

  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #fafafa;

  /* Charts (Dark) */
  --color-chart-1: #22c55e;
  --color-chart-2: #2a9d8f;
  --color-chart-3: #264653;
  --color-chart-4: #e9c46a;
  --color-chart-5: #f4a261;

  /* Variants (vlite3 custom) */
  --color-primary-light: #212121;
  --color-primary: #E4E6EA;
  --color-primary-dark: #d4d4d8;
  --color-primary-foreground: #18181b;
  --color-primary-fg: #18181b;
  --color-primary-fg-light: #f4f4f5;

  --shadow-sm: none !important;
  --shadow-DEFAULT: none !important;
  --shadow-md: none !important;
  --shadow-lg: none !important;
  --shadow-xl: none !important;
  /* Semantics - Dark Mode High Contrast */

  /* Danger */
  --color-danger-light: #4E1D1A;
  --color-danger-fg-light: #FCFCFC;
  --color-danger: #7F1D1D;
  --color-danger-fg: #ffffff;
  --color-danger-dark: #D72627;

  /* Warning */
  --color-warning-light: #3a1e00;
  --color-warning-fg-light: #ff9f0a;
  --color-warning: #95600E;
  --color-warning-fg: #ffffff;
  --color-warning-dark: #ffb340;

  /* Info */
  --color-info-light: #001a33;
  --color-info-fg-light: #0a84ff;
  --color-info: #0a84ff;
  --color-info-fg: #ffffff;
  --color-info-dark: #409cff;

  /* Success */
  --color-success-light: #1B3419;
  --color-success-fg-light: #ffffff;
  --color-success: #007E51;
  --color-success-fg: #ffffff;
  --color-success-dark: #00613f;
}

@utility -text-fs-* {
  font-size: calc(--value(--text--fs- *, [length], [number]));
}


.dark .modal-body,
.dark .sidepanel-body {
  --color-white: #141414 !important;
  --color-mixture-1: #151515 !important;
  --color-mixture-2: #ffffff !important;
  --color-input: color-mix(in oklab, var(--color-mixture-1) 92%, var(--color-mixture-2));
}

.dark .tooltip-container {
  --color-white: #131313 !important;
  --color-mixture-1: #161616 !important;
  --color-mixture-2: #ffffff !important;
}

.dark .modal-body .bg-card,
.dark .sidepanel-body .bg-card,
.dark .tooltip-container .bg-card {
  --color-body: #1A1A1A !important;
  --color-mixture-1: #191818 !important;
  --color-mixture-2: #ffffff !important;
  background-color: var(--color-body) !important;
}

.dark .bg-card {
  --color-body: #0B0B0B !important;
  --color-mixture-1: #111 !important;
  --color-mixture-2: #ffffff !important;
  background-color: #111 !important;
}

.dark .bg-card .bg-body {
  --color-mixture-1: #0f0f0f !important;
  --color-mixture-2: #ffffff !important;
}

.dark .hover\:bg-card:hover {
  background-color: var(--color-gray-50);
}

.bg-card {
  --color-mixture-1: #FAFAFA !important;
  --color-mixture-2: #000000 !important;
  background-color: #FAFAFA !important;
  border-color: color-mix(in oklab, var(--color-mixture-1) 95%, var(--color-mixture-2));
}

.bg-card .bg-card {
  --color-body: #F5F5F5 !important;
  --color-mixture-1: #F5F5F5;
  --color-mixture-2: #000000;
  background-color: #F5F5F5 !important;
}

.bg-card .bg-card .bg-card {
  --color-body: #EEE !important;
  --color-mixture-1: #F5F5F5;
  --color-mixture-2: #000000;
  background-color: #EEE !important;
}

.dark .bg-card .bg-card {
  --color-body: #171717 !important;
  --color-mixture-1: #181818;
  --color-mixture-2: #000000;
  background-color: #171717 !important;
}

.dark .bg-card .bg-card .bg-card {
  --color-body: #1A1A1A !important;
  --color-mixture-1: #171717;
  --color-mixture-2: #000000;
  background-color: #1A1A1A !important;
}

.shadow-sm {
  box-shadow: var(--shadow-sm) !important;
}

.shadow-DEFAULT {
  box-shadow: var(--shadow-DEFAULT) !important;
}

.shadow-md {
  box-shadow: var(--shadow-md) !important;
}

.shadow {
  box-shadow: var(--shadow-md) !important;
}

.shadow-lg {
  box-shadow: var(--shadow-lg) !important;
}

.shadow-xl {
  box-shadow: var(--shadow-xl) !important;
}

@utility text-muted {
  color: var(--color-gray-600) !important;
}

.dark .text-destructive {
  color: rgb(187, 1, 1) !important
}